.venv/
node_modules/
__pycache__/
*.log
.env
dist/
vendor/
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.phpunit.result.cache
.vscode/
